.calendar {
    color: #333;
    width: 100%;

    .month {

        display: flex;
        width: 100%;

        div {

            flex: 1;
            font-size: 1vw;
            padding: 1vw 0;
            border: 0.05vw solid #ddd;
            text-align: center;

            &.head {
                background: #eee;
                font-weight: bold;
            }

            &.invalid {
                background: #ddd;
            }

            &.weekend {
                background: #0e9edb;
            }

            &.holiday {
                background: #4fc5f7;
            }
        }

    }
}


